@model IvyMovies.Data.Entities.Director
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DirectorBirthDate" class="control-label"></label>
                <input asp-for="DirectorBirthDate" class="form-control" />
                <span asp-validation-for="DirectorBirthDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>